* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(0, 0%, 95%);
}
.card-container {
  height: 55%;
  width: 55%;
  display: flex;
  justify-content: center;
}
.single-card {
  display: flex;
  justify-content: center;
  align-items: center;
}
.single-card-content {
  height: 85%;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.img {
  width: 50px;
  margin-bottom: 2rem;
}
.single-card-content-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.single-card-content h1 {
  color: hsl(0, 0%, 95%);
  font-family: "Big Shoulders Display", cursive;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 1rem;
}
.single-card-content p {
  color: hsla(0, 0%, 100%, 0.75);
  font-family: "Lexend Deca", sans-serif;
  line-height: 1.7;
  font-size: 0.8rem;
  padding-right: 0.5rem;
}
.single-card-content button {
  padding: 0.7rem 1.5rem;
  border-radius: 20px;
  border: 1px solid #fff;
  background-color: hsl(0, 0%, 95%);
  font-family: "Lexend Deca", sans-serif;
  margin-top: 4rem;
}
.single-card-content button:hover {
  background-color: transparent;
  border: 1px solid #fff;
  cursor: pointer;
  color: #fff;
}
.sedan-card {
  background-color: hsl(31, 77%, 52%);
  border-radius: 10px 0 0 10px;
}
.sedan-card button {
  color: hsl(31, 77%, 52%);
}
.suv-card {
  background-color: hsl(184, 100%, 22%);
}
.suv-card button {
  color: hsl(184, 100%, 22%);
}
.luxury-card {
  background-color: hsl(179, 100%, 13%);
  border-radius: 0 10px 10px 0;
}
.luxury-card button {
  color: hsl(179, 100%, 13%);
}

/* Media Queries */
@media screen and (max-width: 1024px) {
  .card-container {
    flex-direction: column;
    height: auto;
  }
  .single-card-content {
    height: auto;
    width: 80%;
    margin: 1rem 0;
  }
  .sedan-card {
    border-radius: 10px 10px 0 0;
  }
  .luxury-card {
    border-radius: 0 0 10px 10px;
  }
  .single-card-content button {
    margin-top: 1rem;
  }
}
@media screen and (max-width: 375px) {
  .card-container {
    width: 70%;
  }
}
